src/main/mule/hello.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="9f342142-64ac-459c-98e6-af34b3b14474" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="helloFlow" doc:id="9eb69dc0-d9b5-46e2-8f58-e82ff31f2096" >
		<http:listener doc:name="Listener" doc:id="1b6cfa89-3cdd-4f46-9dc2-d256e40b8eeb" config-ref="HTTP_Listener_config" path="/hello"/>
		<logger level="INFO" doc:name="Logger" doc:id="cb57e2cf-6457-4c93-ae1d-c07da2868b1e" message="start::::::::::::::#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="5764aafa-5278-4023-ab24-d6ce4b57d6f8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "hello how are you...!"++ "" ++ payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="715b7389-c80a-4d13-8e8c-ce100994c126" message="end::::::::::::::#[payload]"/>
	</flow>
</mule>
